@charset "utf-8";
/* CSS Document */

#container {
	display: block;
}

main {
	display: flex;
	widht: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 30px -10px;
}


main img {
	min-width: 200px;
	max-width: 370px;
	height: auto;
	display: block;
	position: relative;
	float: left;
	padding-top: 30px;
}

.box {
	background-color:rgba(134,133,133,1);
	width: 255px;
	height: auto;
	position: absolute;
	left: 35%;
	top: 170px; /*Menuen er 70 px*/
	padding: 15px 25px;
	box-shadow: 2px 2px 2px #202424;
	transition: ease-in-out;
	color: black;
}

.box:hover {
	width: 255px;
	height: auto;
	padding: 20px 35px;
	top: 160px;
	left: 34%;
	color: #272727;
	box-shadow: 3px 3px 3px #202424;
}

.box h3 {
	font-size: 18pt;
	margin-bottom: 7px;
}

.box-2 {
	width: 18%;
	height: auto;
	position: relative;
	display: block;
	margin-top: 100px;
	margin-left: -20px;
}

.box-2-in {
	height: 150px;
}

.box-2 h3 {
	font-size: 18pt;
	margin-bottom: 7px;
}

.box-2 h4 {
	font-weight: 500;
	font-size: 14pt;
}

/*Social media icons*/
.fa {
	padding: 15px 10px;
	font-size: 40pt;
	width: 30px;
	text-align: center;
	margin: 10px 10px auto 0;
	border-radius: 50%;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: -webkit-linear-gradient(bottom left, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
 background: -o-linear-gradient(bottom left, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
 background: linear-gradient(to top right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);   
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
